nav * {
  font-family: 'Montserrat', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #e8e8e8;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  background-color: white;
  padding: 30px 100px;
}

.nav-wrap {
  display: flex;
  align-items: center;
}

.nav-wrap h1 {
  margin-right: 30px;
  color: #0290ff;
  font-weight: bolder;
  font-size: 2em;
}

.links * {
  color: black;
  margin-right: 10px;
}

.links > :last-child {
  opacity: 0.5;
}

.profile {
  font-size: 40px;
  color: #0290ff;
}
